.header {
    display: flex;
    flex-flow: column;
    margin-bottom: 36px;

    &__info {
        display: flex;
        flex-flow: column;
        border-bottom: 1px solid $c-font-secondary;
        margin-bottom: 16px;
        padding-bottom: 24px;
    }

    &__heading {
        font-size: 1.714rem;
        color: $c-font-primary;
        margin-bottom: 4px;
    }

    &__subheading {
        color: $c-font-secondary;
        font-weight: 700;
    }
    
    &__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__switch {
        position: relative;
        width: 48px;
        height: 24px;
    }

    &__checkbox {
        opacity: 0;
        height: 0;
        width: 0;

        &:checked + .header__slider:before {
            transform: translate(22px, -50%);
          }
    }

    &__slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        background: $c-toggle;
        border-radius: 34px;
        pointer-events: none;
        
        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
            background: $c-bg-top;
            border-radius: 50%;
            transition: all 250ms ease-in;
        }
    }
}

/* Header media queries */
@media (min-width: 600px) {
    .header {
        flex-flow: row;
        justify-content: space-between;

        &__info {
            border-bottom: none;
            margin: 0;
            padding: 0;
        }

        &__heading {
            font-size: 2rem;
        }

        &__switch {
            margin-left: 16px;
        }
    }
}