@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Global styles */
html {
    font-size: 14px;
}

body {
    position: relative;
    min-height: 100vh;
    background: $c-bg;
    font-family: 'Inter', sans-serif;
    transition: background 700ms ease-in;
}